extends layout 

block content 
        <form class="text-center  mt-4 mb-2 " action="create" method="post">
            <div class="container">
                div(class="row")
                    <label for="groupname"><b>Group Name</b></label>
            <input class="text-center  w-10 mt-3 mb-2" type="text" placeholder="Enter Group name" name="groupname" required>
        
            <button type="submit">Create Group</button>
            </div>