extends layout 

block content 

    h2 Request to join #{groupname} Group sent 
    h3 You will be automatically added to the group when majority of the members accept the request

    a(href='/dashboard')  Return to Dashboard